repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ pyi ]
        pass_filenames: false
        require_serial: true
        args: [
          "changeme-package-name-stubs",
          "--show-error-codes",
          "--namespace-packages",
          "--show-traceback",
          "--no-implicit-optional",
          "--disallow-any-generics",
          "--warn-incomplete-stub",
        ]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [
          "--line-length=120",
          "--skip-magic-trailing-comma",
        ]
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
      - id: reorder-python-imports
        args: [
            "--application-directories=changeme-package-name-stubs"
        ]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: [
          "--ignore=E501",
          "--filename=**.py **.pyi",
        ]
        files: .pyi
        types:
          - pyi
        additional_dependencies: [
          flake8-bugbear==21.11.29,
          flake8-pyi==22.1.0,
        ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-aws-credentials
        args: [ "--allow-missing-credentials" ]
      - id: detect-private-key
