[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sqlalchemy-utils = "==0.42.1"
sqlalchemy2-stubs = "==0.0.2a38"

mypy = "==1.19.1"
twine = "==6.2.0"

[requires]
python_version = "3.9"
