[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"
# If you edit this file, run `pipenv-setup sync --pipfile --dev` afterwards

[dev-packages]
sqlalchemy-utils = "==0.41.2"
sqlalchemy2-stubs = "==0.0.2a38"

mypy = "==1.10.0"
pipenv-setup = "==3.2.0"
twine = "==6.0.1"

[requires]
python_version = "3.9"
